.row1 {
    margin: 0 10px;
    padding: 0;
    width: 60px;
    display: block;
    float: left;
}
.row2 {
    margin: 0 10px;
    padding: 0;
    width: 140px;
    display: block;
    float: left;
}

.row3 {
    margin: 0 10px;
    padding: 0;
    width: 220px;
    display: block;
    float: left;
}

.row4 {
    margin: 0 10px;
    padding: 0;
    width: 300px;
    display: block;
    float: left;
}

.row5 {
    margin: 0 10px;
    padding: 0;
    width: 380px;
    display: block;
    float: left;
}

.row6 {
    margin: 0 10px;
    padding: 0;
    width: 460px;
    display: block;
    float: left;
}

.row7 {
    margin: 0 10px;
    padding: 0;
    width: 540px;
    display: block;
    float: left;
}

.row8 {
    margin: 0 10px;
    padding: 0;
    width: 620px;
    display: block;
    float: left;
}

.row9 {
    margin: 0 10px;
    padding: 0;
    width: 700px;
    display: block;
    float: left;
}

.row10 {
    margin: 0 10px;
    padding: 0;
    width: 780px;
    display: block;
    float: left;
}

.row11 {
    margin: 0 10px;
    padding: 0;
    width: 860px;
    display: block;
    float: left;
}
.row12 {
    margin: 0 10px;
    padding: 0;
    width: 940px;
    display: block;
    float: left;
}

/*div{*/
/*    float: left;*/
/*}*/

/*16/12=x/10*/
/*960/12=80*/
/*60 140*/



