.row1 {
    margin: 0 15px;
    padding: 0;
    width: 90px;
    display: block;
    float: left;
}
.row2 {
    margin: 0 15px;
    padding: 0;
    width: 210px;
    display: block;
    float: left;
}
.row3 {
    margin: 0 15px;
    padding: 0;
    width: 330px;
    display: block;
    float: left;
}

.row4 {
    margin: 0 15px;
    padding: 0;
    width: 450px;
    display: block;
    float: left;
}

.row5 {
    margin: 0 15px;
    padding: 0;
    width: 570px;
    display: block;
    float: left;
}

.row6 {
    margin: 0 15px;
    padding: 0;
    width: 690px;
    display: block;
    float: left;
}

.row7 {
    margin: 0 15px;
    padding: 0;
    width: 810px;
    display: block;
    float: left;
}

.row8 {
    margin: 0 15px;
    padding: 0;
    width: 930px;
    display: block;
    float: left;
}

.row9 {
    margin: 0 15px;
    padding: 0;
    width: 1050px;
    display: block;
    float: left;
}

.row10 {
    margin: 0 15px;
    padding: 0;
    width: 1170px;
    display: block;
    float: left;
}

.row11 {
    margin: 0 15px;
    padding: 0;
    width: 1290px;
    display: block;
    float: left;
}
.row12 {
    margin: 0 15px;
    padding: 0;
    width: 1410px;
    display: block;
    float: left;
}
.row13 {
    margin: 0 15px;
    padding: 0;
    width: 1530px;
    display: block;
    float: left;
}
.row14 {
    margin: 0 15px;
    padding: 0;
    width: 1650px;
    display: block;
    float: left;
}
.row15 {
    margin: 0 15px;
    padding: 0;
    width: 1770px;
    display: block;
    float: left;
}


.row16 {
    margin: 0 15px;
    padding: 0;
    width: 100%;
    display: block;
    float: left;
}


/*div{*/
/*    float: left;*/
/*}*/

/*16/12=x/10*/
/*960/12=80*/
/*60 140*/



